/* ===== RESET ===== */
/* Remove estilos padrões aplicados automaticamente pelo navegador */
/* Garante consistência visual entre diferentes browsers */

* {
  margin: 0;
  /* Remove margens padrão */

  padding: 0;
  /* Remove espaçamentos internos padrão */

  box-sizing: border-box;
  /* Faz com que padding e border sejam incluídos dentro da largura e altura total do elemento (facilita controle de layout) */

  font-family: "Inter", sans-serif;
  /* Define a fonte padrão do projeto */
}
